<div class="d-flex flex-column justify-content-center align-items-center w-50 h-100 m-auto">
    <div>
        <h3>Forgot Password</h3>
    </div>

    <form class="d-flex flex-column justify-content-center align-items-center w-75" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group mb-3 w-100">
            <input class="form-control" [ngClass]="{'is-invalid': email.touched && email.invalid}" type="email" placeholder="Email" formControlName="email">
            
            <div class="alert alert-danger mt-3 w-100" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Email is required!</div>
                <div *ngIf="email.errors.pattern">Email should be valid email(eg: a@a.a)!</div>
            </div>
        </div>

        <div class="alert alert-danger mb-3 w-100" *ngIf="errorMessage != null">
            {{errorMessage}}
        </div>

        <div class="form-group">
            <button [disabled]="loading || !forgotPasswordForm.valid" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Send Me New Password
            </button>
            <a routerLink="../login" class="btn btn-link decoration-none">Back To Login</a>
        </div>
    </form>
</div>